module.exports = {
  domain: '{Auth0_Domain}', // e.g., your-account.auth0.com
  audience: '{Auth0_API_Identifier}', // e.g., http://localhost:3001/api/
  mongoURI: 'mongodb://<user>:<password>@<db>/dinosaurs'
};
